// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600,700);

// Variables
@import "variables";

// Bootstrap

@import "custom-bulma";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "~font-awesome-sass/assets/stylesheets/font-awesome";
@import "~sweetalert2/src/sweetalert2";
@import "~toastr/build/toastr";
@import "~savi-bootstrap-daterangepicker/daterangepicker.scss";

html, body {
  height: 100%;
}

#app {
  height: 100%;
}

td, th {
    border: 1px solid black;
}

.login-component {
  .logo {
    polygon, path {
      fill: #FFFFFF !important;
    }
  }
}

.swal2-shown {
  .columns {
    margin-left: 0;
    margin-right: 0;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}


.is-primary {
  color: $brand-blue;
}

.is-bold {
  font-weight: bold;
}
